*{
	margin: 0;
	padding: 0;
}
.Header{
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	margin-top: 40px;
	font-weight: bold;
}
.Contact{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin-top: 70px;
	font-weight: bold;
	align-content: : center;
}

