.blue_text{
	color:blue;
}
.green_text{
	color:green;
}
#red_text{
	color:red;
}
.blue_text{
	color:blue;
}
.fixed_size{
	font-size:18px;
}
#box_1{
	width:100px;
	margin:0 auto 0 auto;
}
#box_3:hover{
	background-color: blue;
}
#box_4:hover{
	background-color: pink;
	opacity: .5%;
	height: 450px;
	transition: all 1s;

}